@{
    ViewData["Title"] = "Home Page";
}

<div class="landing-container index-background">
    <img src="~/SpotifyLogo.png" alt="Spotify Logo" class="logo" />
    <a class="landing-login-btn" asp-area="" asp-controller="Auth" asp-action="Login">Login With Spotify</a>
</div>