html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}



.landing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-grow: 1;
    overflow: auto; /* Add this line */
}


.artists-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: black;
    color: white;
}

.navbar-logo img {
    height: 40px;
    max-width: 100px;
}

.navbar-menu {
    display: flex;
    gap: 20px;
}

    .navbar-menu li {
        list-style: none;
    }

    .navbar-menu a {
        color: white;
        text-decoration: none;
    }

.navbar-login-btn {
    background-color: #1DB954; /* Spotify green */
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-weight: 600;
    transition: background-color 0.3s ease;
    border: none;
}

    .navbar-login-btn:hover {
        background-color: #1ED760; /* Lighter Spotify green */
        color: white;
    }


.navbar-start {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-link {
    color: white;
    font-family: Arial, sans-serif;
    font-weight: 600;
    padding: 10px 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

    .nav-link:hover {
        color: #1DB954; /* Spotify green */
        background-color: rgba(255, 255, 255, 0.1);
    }

.navbar-end {
    display: flex;
    align-items: center;
    gap: 20px; /* Adjust the gap as needed */
}

    .navbar-end p {
        margin: 0; /* Removes default margin from <p> */
        color: white; 
        display: inline-flex; 
    }


.landing-login-btn {
    display: inline-block;
    color: white;
    border-radius: 20px;
    padding: 10px 20px; /* Adjust padding as needed */
    text-decoration: none; /* Removes underline */
    font-size: 25px; /* Adjust font size as needed */
    width: auto; /* Adjust width as needed */
    font-weight: 600;
    cursor: pointer;
    margin: 20px;
    height: auto; /* Adjust height as needed */
    text-align: center;
    border: none;
    background-size: 300% 100%;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
    -webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
}

    .landing-login-btn:hover {
        background-position: 100% 0;
        text-decoration: none; /* Ensures no underline on hover */
    }

.logo {
    width: 200px;
    height: auto;
    margin-bottom: 50px;
}

.index-background {
    background-image: url('../Indexbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90vh;
    width: 100%
}

.artists-control-prev-icon,
.artists-control-next-icon {
    height: 50px; 
    width: 50px;
    outline: black auto 2px;  
}

.carousel-control-prev-icon {
    background-image: url('data:image/svg+xml;charset=UTF8,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' fill=\'%23000000\' viewBox=\'0 0 8 8\'%3E%3Cpath d=\'M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z\'/%3E%3C/svg%3E');
}

.carousel-control-next-icon {
    background-image: url('data:image/svg+xml;charset=UTF8,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' fill=\'%23000000\' viewBox=\'0 0 8 8\'%3E%3Cpath d=\'M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z\'/%3E%3C/svg%3E');
}

.btn-primary {
    background-color: #1DB954; /* Spotify green */
    border: none;
    font-size: 1.2em;
    padding: 10px 20px;
}

    .btn-primary:hover {
        background-color: #1ED760; /* Lighter Spotify green */
    }


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the height of the footer */
    line-height: 60px; /* Vertically center the text within the footer */
    background-color: black;
}



.artist-details {
    font-family: Arial, sans-serif;
    font-size: 1.2em;
    letter-spacing: 0.05em;
    color: white; /* or any default color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.header-artist-details {
    font-size: 2rem; /* Adjust this value if you want a specific size */
    letter-spacing: 0.05em;
    color: white; /* or any default color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}


.transition-background {
    transition: background 1s ease-in-out;
}

.top-artists-page {
    position: relative;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
/*    background-image: url(../images/bg1.jpg)*/
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.background, .next-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.next-background {
    opacity: 0;
}


.carousel-item {
    opacity: 1;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

    .carousel-item.active {
        transform: translateX(0);
    }


.text-light {
    color: white;
}

.text-dark {
    color: black;
}

.playlist-navigation-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Adjusted for spacing */
}

.scroll-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    align-items: center;
    flex-grow: 1; /* Allows the container to fill the space */
    margin: 0 70px; /* Space for arrows */
    padding-top: 20px; 
}

.playlist-item {
    flex: 0 0 auto;
    width: 15%; /* Adjust width to show 3-4 items, accounting for margin */
    margin-right: 40px; /* Space between items */
    margin-left: 20px; 
    margin-bottom: 20px; 
    transition: transform 0.3s ease; 
    position: relative; 
}

.playlist-item:hover {
    transform: scale(1.1); 
    z-index: 2; 
}

    .playlist-item img {
        width: 100%; /* Ensure images fit within their container */
        height: auto; /* Maintain aspect ratio */
        display: block; /* Remove any inline spacing */
        border-radius: 10px; /* If you want rounded corners */
        transition: transform 0.3s ease; /* Smooth transition for scaling */
    }

/* Style for navigation arrows */
.scroll-arrow {
    cursor: pointer;
    border: none;
    padding: 10px;
    font-size: 25px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white; 
    background-color: transparent; 
}

.left-arrow {
    left: 0;
}

.right-arrow {
    right: 0;
}

.scroll-container::-webkit-scrollbar {
    display: none;
}

.scroll-container {
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

.spotify-dark-theme {
    background-color: #121212; 
    color: white;
    min-height: 100vh; 
    text-align: center; 
}

.playlist-item a.item-text {
    position: relative;
    color: white; /* Fallback color */
    text-decoration: none;
    font-family: 'Motserrat', sans-serif;
    font-size: 1.2em;
    letter-spacing: 0.05em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    display: inline-block;
    overflow: hidden;
    transition: transform 0.3s ease; /* Smooth transition for scaling */
}

    .playlist-item a.item-text:hover {
        transform: scale(1.1); /* Increase the size of the link */
    }

.welcome-message h2, .welcome-message h3 {
    color: #1DB954; /* Spotify green */
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.welcome-message h2 {
    font-weight: 600;
    margin-bottom: 0.5rem; /* Adjust spacing between welcome message and header */
}

.welcome-message h3 {
    text-align: left; /* Aligns "Your Playlists" to the left */
    margin-left: 70px; /* Adjusts the left margin for alignment, modify as needed */
    font-weight: 600; /* Adjusts the font weight, if necessary */
}